.container {
    padding-top: 50px;
}

#btn-new-service {
    display: inline-block;
    margin-bottom: 15px;
}

#pdf-icon {
    font-size: 3em;
    text-align: center;
}

#services_list {
    border-radius: 15px;
}