.card-dashboard{

    background-color: var(--main-color);
    width: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.text-card{

    font-size: 25px;

}

.btn-add-pets{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

#atualizar-cliente {
    display: none;
}

#form-att-cliente {
    display: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

#form-att-cliente label {
    margin-top: 15px;
}

#lista-pets {
    margin-top: 45px;
    padding-bottom: 20px;
}

#lista-pets form {
    margin-top: 15px;
}

#opt-add-pets {
    display: none;
}

a.btn.btn-danger {
    margin-left: 10px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}