@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

html, body {
    height: 100vh;
    background: #2A2A2A;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.home-section{
  background: #2A2A2A;
  color: white;
  margin-bottom: 50px;
}

.container {
  padding-top: 30px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.navbar.navbar-dark {
    background-color: var(--dark-color);
}

.dropdown-menu {
    background-color: var(--main-color);
    color: white
}
.dropdown-item {
    color: whitesmoke;
}
.dropdown-item:hover {
    background-color: var(--light-color);
}

#footer {
    background-color: var(--dark-color);
    margin-top: auto;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

#footer p, #footer a {
    color: whitesmoke;
}

#footer .container {
    padding-top: 25px;
}

#footer img {
    height: 40px;
    width: 52px;
}

.login-logout {
    background-color: #021820;
    color: whitesmoke;
    border: 2px solid #06222c;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 10px;
    margin-right: 15px;
}

.alert-warning {
    background-color: rgba(224, 217, 154, 0.856);
}