{% extends "base.html" %}
{% load static %}

{% block 'head' %}
	<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">"
{% endblock %}

{% block 'dashboard' %}
	<div class="container">
		<div class="row">
			<div onclick="exibir_form('1')" class="col-md card-dashboard">
				<p class="text-card">Adicionar Clientes</p>
			</div>
			<div onclick="exibir_form('2')" class="col-md card-dashboard">
				<p class="text-card">Atualizar Clientes</p>
			</div>
		</div>

		<div class="adicionar-cliente" id="adicionar-cliente">
			<form action="{% url 'clientes' %}" method="POST">{% csrf_token %}
				<div class="row">
					<div class="col-md">
						<label for="nome">Nome:</label>
						<input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{nome}}">
					</div>
					<div class="col-md">
						<label for="sobrenome">Sobrenome:</label>
						<input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}">
					</div>
				</div>
				<br>
				<label for="email">E-Mail:</label>
				<input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{email}}">
				<br>
				<label for="cpf">CPF:</label>
				<input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{cpf}}">
				<hr style="background-color:gray;">
				<div class="add-pets">
					<h3>Pets</h3>
					<span class="btn-add-pets" onclick="add_pet()">+ Adicionar um Pet</span>
					<div id="form-pet">
						{% for pet, data, porte in pets %}
							<br>
							<div class='row'>
								<div class='col-md'>
									<label for='pet'>Nome do Pet:</label>
									<input type='text' placeholder='Nome do Pet' class='form-control' name='pet' value="{{pet}}">
								</div>
								<div class='col-md'>
									<label for='data-nascimento'>Data de Nascimento:</label>
									<input type='date' placeholder='DD/MM/AAAA' class='form-control' name='data-nascimento' value="{{data}}">
								</div>
								<div class='col-md'>
									<label for='porte'>Porte do Pet:</label>
									<select name='porte' class='form-control'>
										<option value="{{porte}}" selected hidden>{{porte}}</option>
										<option value='pequeno'>Pequeno</option>
										<option value='medio'>Médio</option>
										<option value='grande'>Grande</option>
									</select>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<br>
				<input type="submit" value="Cadastrar" class="btn-principal">
			</form>
		</div>

		<div id="atualizar-cliente">
			
			<label for="lista-clientes">Qual cliente gostaria de atualizar?</label>
			<select onchange="dados_cliente()" name="lista-clientes" class="form-control" id="cliente-select">
				<option disabled selected hidden value>Selecione um cliente para atualizar</option>
				{% for cliente in clientes %}
				<option value="{{cliente.id}}">{{cliente.nome}}</option>
				{% endfor %}
			</select>
			<div id="form-att-cliente">
				<form action="" method="POST">
					<div class="row">
						<div class="col-md">
							<label for="att-nome">Nome:</label>
							<input type="text" class="form-control" placeholder="Primeiro nome" name="att-nome" id="att-nome">
						</div>
						<div class="col-md">
							<label for="att-sobrenome">Sobrenome:</label>
							<input type="text" class="form-control" placeholder="Sobrenome" name="att-sobrenome" id="att-sobrenome">
						</div>
					</div>
					<label for="att-email">E-Mail:</label>
					<input type="email" class="form-control" placeholder="nome@email.com" name="att-email" id="att-email">
					
					<label for="att-cpf">CPF:</label>
					<input type="text" class="form-control" placeholder="___.___.___-__" name="att-cpf" id="att-cpf">
				</form>
			</div>
			<div id="opt-add-pets">
				<h3>Pets</h3>
				<span class="btn-add-pets" onclick="add_pet_atualiza()">+ Adicionar um Pet</span>
			<div id="lista-pets">
			</div>
			<div id="add-pets">

			</div>
		</div>
	</div>
	<script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock 'dashboard' %}